<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>FixMyCity | About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="assets/logo.jpeg" alt="">
            <div class="logo-name">FixMyCity</div>
        </div>
        <div class="user-page">
            <button class="btn" onclick="window.location.href = '/login'">Login</button>
            <button class="btn" onclick="window.location.href = '/signup'">SignUp</button> 
        </div>
    </header>
    <main>
        <p class="slogan">Transforming Mumbai, One Fix at a Time</p>
        <p class="slogan-para">Lets you report issues like potholes, garbage, broken streetlights, and more across Mumbai. Your voice drives action, making our city cleaner, safer, and better for everyone.</p>
        <button></button>
        <button class="btn get-started-btn" onclick="window.location.href = 'register-page.html'">Get Started</button>
        <img src="./assets/heroi.jpeg" alt="">
    </main>
    <footer>
        <div class="card card1">
            <h1>Aim</h1>
            <p>Our aim is to foster a proactive community where citizens can easily report and address civic issues in Mumbai. We strive to enhance transparency, raise awareness, and drive collective action for a cleaner and safer city. By facilitating communication between residents and local authorities, we empower Mumbaikars to create meaningful change in their neighborhoods.</p>
        </div>
        <div class="card card2">
            <h1>About Us</h1>
            <p>At Fix My City, we believe in empowering citizens to take charge of their surroundings. Our platform allows Mumbaikars to report and track civic issues like potholes, garbage, and broken streetlights. By sharing these concerns publicly, we aim to raise awareness and encourage swift action to improve our city. Together, we can create a cleaner, safer, and more vibrant Mumbai for all.</p>
        </div>
    </footer>
</body>
</html>
