*{
    margin: 0;
    padding: 0;
}

:root{
    --background-color: #F9F2E7;
    --btn-color: #48358C;
    --font-color: #463184;
}

body{
    background-color: var(--background-color);
    font-family: "Poppins", serif;
}

header{
    background-color: var(--background-color);
    height: 6rem;
    width: auto;
    margin: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    position: sticky;
    top: 0px;
}

.logo-container{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    width: 8rem;
}

.logo-name {
    font-size: 2.4rem;
}

.btn{
    border: none;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 8px 10px;
    box-sizing: border-box;
    background-color: var(--btn-color);
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    /* text-align:  center; */
}

.main-nav{
    width:50vw;
    height: auto;
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.add-issue{
    font-size: 1.4rem;
}

.head-title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--font-color);
    margin-bottom: 1.4rem;
}

.cards{
    width:50vw;
    height: auto;
    padding: 0.4rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.card{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 1rem;
    gap: 10px;
    background-color: white;
    border-radius: 12px;
    font-size: 1.1rem;
}

.card img{
    border-radius: 4px;
}

.information{
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.user-name{
    font-size: 1.6rem;
    font-weight: 600;
}

.vote-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .upvote-btn, .downvote-btn {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .upvote-btn:hover, .downvote-btn:hover {
    background-color: #f0f0f0;
  }
  
  .vote-count {
    font-size: 16px;
    margin-right: 10px;
  }